[[mgr.prepend_keymap]]
on   = ["u", "a"]
run  = "plugin sxiv-easymotion"
desc = "Preview images in sxiv"
[[mgr.prepend_keymap]]
on   = "l"
run  = "plugin smart-enter"
desc = "Enter the child directory, or open the file"
[[mgr.prepend_keymap]]
on   = "F"
run  = "plugin smart-filter"
desc = "Smart filter"

